<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5Udy8qvH93k6R6bKeV8HW2RbA7DmOpHc</string>
	<key>GCM_SENDER_ID</key>
	<string>317034143644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.chattylab.chatty.qa</string>
	<key>PROJECT_ID</key>
	<string>chatty-lab</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-lab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317034143644:ios:f849870126fd7226ec7259</string>
</dict>
</plist>